@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,300");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

/*
General Tags
*/
body {
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
	background-color: #E9EAEE;
}

h1,h2, h3, h4, h5, h6 {
	font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
	background-color: #BC6026;
}

svg {
	height: 1em;
}

/*
nav bar
*/
.navbar {
	background-color: #181C22;
}

.navbar ul {
	list-style: none;
}

.navbar li {
	display: inline-block;
	margin-top: .5em;
	margin-bottom: .5em;
}

/*
header
*/
#header {
	color: black;
	padding-top: 3em;

}

#tagline {
	display: none;
}

/*
Screen sizes
*/
@media only screen and (min-width: 768px) {
	body {
		font-size: 20px;
	}
	h2 {
		text-align: center;
		margin-bottom: 1em;
	}

	.navbar {
		background-color: rgba(24, 28, 34, 0.8);
	}

	#tagline {
		display: initial;
	}

	#header {
		color: white;
		background-image: url("../img/background-sm.jpg");
		text-align: right;
		min-height: 550px;
	}
}

@media only screen and (min-width: 992px) {
	#header {
		background-image: url("../img/background-md.jpg");
	}

	#header h1 {
		font-size: 4em;
	}
}

@media only screen and (min-width: 1200px) {
	#header {
		background-image: url("../img/background-lg.jpg");
	}
}